@model List<ProductCategoryViewModel>
<div class="navbar-collapse collapse">
    <ul id="main-menu" class="sm sm-clean">
        <li><a class="active" href="/"><i class="fa fa-home"></i></a></li>
        @foreach (var item in Model.Where(m => m.ParentId == null))
        {
            <li><a href="/@item.SeoAlias-c.@(item.Id).html">@item.Name</a></li>
            <ul>
                <div class="boder-mn">
                    @foreach (var subItem in Model.Where(m => m.ParentId == item.Id))
                    {
                        <li><a href="/@item.SeoAlias-c.@(item.Id).html">@item.Name</a></li>
                    }
                </div>
            </ul>
        }
    </ul>
</div>