<footer>
    <section id="footer-bottom">
        <p>
            <div style="text-align: center;">Copyright &reg; 2018&nbsp;nguyenthuylinh.net</div>
        </p>
    </section>
</footer>
<a href="#" class="cd-top">Top</a>
