@inject IViewLocalizer Localizer
<header>
    <div id="header" class="bghead">
        <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="navbar-header">
                        <button class="btn responsive-menu pull-left collapsed" data-toggle="collapse" data-target=".navbar-collapse">Menu</button>
                    </div>
                    @await Component.InvokeAsync("MainMenu")
                </div>
            </div>
        </div>
    </div>
</header>